*{background-color:lightblue}
#site-title {
    color:darkmagenta; 
    font-family: Helvetica; 
    font-size: 75px;
    text-align: center;
  }
  a{
    font-weight: bold;
    color: black;
    background-color: #ce81ff;
    text-align: center;
    }
  header p {
    background-color: #91B585; 
    color: black; 
    font-size: 20px;
    text-align: center;
  }
  figure {
    border: 3px solid darkslateblue;
      padding: 45px;
  }
  figure img {
    max-width: 100%; 
    height: auto; 
  }
  .subheading {
    font-size: 30px;
    color:darkolivegreen;
  }
  article p{ 
    color: black;
    font-size: 15px;  
  }
  div p{
    width: 100%;
    font-size: 20px;
    background-color:darkgreen;
    color: white;
    text-align: center;
  }